@font-face {
  font-family: Regular;
  src: url(Regular.ttf);
}
@font-face {
  font-family: Bold;
  src: url(Bold.ttf);
}
h1 {
  font-family: Bold !important;
  text-align: center !important;
}
h2 {
  font-family: Regular !important;
  text-align: center !important;
  color: white !importtant;
}
h3 {
  font-family: Regular !important;
}
h4 {
  font-family: Regular !important;
}
h5 {
  font-family: Regular !important;
}
p {
  font-family: Regular !important;
}
a {
  font-family: Regular !important;
  color: #1E78C2;
}
.index img {
  filter: sepia(0%);
  transition-duration: 0.5s;
}
.index img:hover {
  filter: sepia(50%);
}
p {
  text-indent: 2em;
  margin: 60px;
}
img {
  margin: 30px
}
body {
  color: var(--body-font-color) !important;
}

 :root {
    --primary-color: #FAFAFA;
    --secondary-color: #DDECF2;
    --body-font-color: black;
}

[data-theme="dark"] {
    --primary-color: #2a2a2a;
    --secondary-color: #1a1a1a;
    --body-font-color: white;
}

/*slider switch css */
.theme-switch-wrapper {
display: flex;
align-items: center;
}

.theme-switch-wrapper em {
margin-left: 10px;
font-size: 1rem;
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


