@font-face {
  font-family: Regular;
  src: url(Regular.ttf);
}
@font-face {
  font-family: Bold;
  src: url(Bold.ttf);
}
h1 {
  font-family: Bold !important;
  text-align: center;
}
h2 {
  font-family: Regular !important;
  text-align: center;
}
h3 +h4 + h5 + h6 + a{
  font-family: Regular !important;
}
a {
  color: #1E78C2;
}
.index img {
  filter: sepia(0%);
  transition-duration: 0.5s;
}
.index img:hover {
  filter: sepia(50%);
}
p {
  text-indent: 2em;
  margin: 60px;
  font-size: 20px;
}
li{
  font-size: 20px;
}
img {
  margin: 30px;
  display: block;
}
